<div cdkDropListGroup class="example-container">
  <div
    [cdkDropListData]="todo"
    (cdkDropListDropped)="drop($event)"
    cdkDropList
    #doneList="cdkDropList"
    class="example-list"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>

  <div
    #con
    style="
      position: relative;
      border: 5px solid red;
      width: 700px;
      display: inline-block;
    "
  >
    <div
      cdkDropList
      id="demo"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="done"
    >
      <img
        style="width: 100%"
        src="https://www.researchgate.net/profile/Garland-Marshall-2/publication/49833972/figure/fig5/AS:668733781581831@1536449966319/The-AutoDock-docking-parameter-file-dpf-used-for-docking-one-of-the-compounds-in-the.png"
        alt="aa"
      />
    </div>
    <!-- <div
      class="demo"
      style="
        width: 100px;
        height: 100px;
        background-color: black;
        position: absolute;
        left: 0;
        top: 0;
      "
    ></div> -->
    <div
      style="position: absolute"
      [style.top]="item.y + 'px'"
      [style.left]="item.x + 'px'"
      *ngFor="let item of done"
    >
      <app-dragable
        (newItemEvent)="handlevalue($event, con)"
        [data]="item"
      ></app-dragable>
    </div>
    <!-- <app-dragable
    *ngFor="let item of done"
    (newItemEvent)="handlevalue($event, con)"
    [data]="item"
  ></app-dragable> -->
  </div>
</div>
